
 body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 2;
    padding: 20px;
    margin: 20px;
    background-color: lightslategray;
    color:black;
    }
    
    
    